@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Fugaz+One&family=Press+Start+2P&family=Roboto:wght@100&family=Share+Tech&family=Share+Tech+Mono&display=swap');
/* Root Variables */
:root {
  --font-color: #e7e7e7;
  --backgound-color: #131313;
  --zero-one-primary: rgba(220,246,0,1);
  --zero-one-secondary: red;
  --zero-one-font: #131313;
  --saber-primary: red;
  --saber-secondary: rgba(210,195,195,1);
  --saber-font: #e7e7e7;

  --primary: var(--saber-primary);
  --secondary: var(--saber-secondary);
  --font: var(--saber-font);
}

/* Global styles */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:hover, *:focus { outline: none; }

html {
  height: 100%;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  scroll-behavior: smooth;
  color: var(--font-color);
  background: var(--backgound-color);
}

section {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

p + p { 
  margin-top: .5rem;
}

h2 + p {
  margin-top: 1rem;
}

h5, h4, h3, h2, h1 {
  font-family: "Share Tech", sans-serif;
}

p {
  line-height: 1.5;
}

a {
  list-style: none;
  text-decoration: none;
  color: var(--font);
}

.content {
  max-width: 100vw;
}

* + .external-link {
  display: inline-block;
  margin-top: 1.5rem;
}


ul {
  list-style: none;
  line-height: 1.5;
  letter-spacing: 2px;
}
ul li {
  position: relative;
}

ul li::before {
  content: '';
  position: absolute;
  top: 20%;
  left: -15px;
  border-top: 8px solid transparent;
  border-left: 8px solid var(--primary);
  border-bottom: 8px solid transparent;
  color: var(--primary);
}

footer {
  height: 20px;
  text-align: center;
}

footer a {
  font-size: 15px;
  padding: 1rem 0;
}

/* Nav */
#side-bar-icon {
  cursor: pointer;
  z-index: 999;
  position: fixed;
  left: .5vw;
  top: .5vh;
  height: auto;
  width: 3rem;
}

#side-bar-icon:focus, #side-bar-icon:hover {
  filter: drop-shadow(0 0 5px var(--secondary));
}

#side-bar {
  width: 60vw;
  height: 100vh;
  background-color: var(--backgound-color);
  position: fixed;
  top: 0;
  left: -60vw;
  z-index: 998;
  padding-top: 5%;
  transition: left 650ms ease-in-out;
  border-right: 10px solid var(--primary);
}

#side-bar.active {
  left: 0;
}

#nav-list {
  list-style: none;
  text-align: center;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
}

#nav-list li::before {
  content: unset;
}

.nav-link {  
  background: var(--primary);
  padding: .5rem 1rem;
  border-radius: 18px;
  text-transform: uppercase;
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 5px 5px var(--secondary);
  opacity: 0;
  transition: opacity 350ms ease-in;
}

.nav-link:hover::after, .nav-link:focus::after {
  opacity: 1;
}

.themes {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.theme-icon {
  height: auto;
  width: 50%;
  padding: 0 10%;
} 

#zero-one-theme:hover, #zero-one-theme:focus {
  filter: drop-shadow(0 0 5px var(--zero-one-secondary));
} 

#saber-theme:hover, #saber-theme:focus {
  filter: drop-shadow(0 0 5px var(--saber-secondary));
} 

/* About */
.headshot {
  display: block;
  width: min(50%, 281px);
  height: auto;
  margin: 2.5rem auto 0 auto;
  border-radius: 100%;
}

.about-text {
  padding-top: 3.5rem;
  margin: 0 10vw;
}

.skills {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

/* Projects */
.tab-buttons {
  display: flex;
  flex-flow: row;
  overflow-x: auto;
  white-space: nowrap;
}

.tab {
  padding: 1rem 0 1rem 1.5rem;
  text-transform: uppercase;
  transition: background-color 650ms;
  font-weight: bold;
  letter-spacing: 2px;
}

.tab:hover, .tab:focus {
  color: var(--primary);
}

.tab + .tab {
  padding: 1rem 1.5rem;
}

.tab-content {
  display: none;
  row-gap: 1rem;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 1fr auto;
}

.tab-title {
  grid-area: 1 / 1 / 2 / 3;
  text-align: center;
}

.project-description {
  grid-area: 2 / 1 / 3 / 3;
  width: 80%;
  justify-self: center;
}

.tools {
  grid-area: 3 / 1 / 4 / 2;
  margin: 0 20%;
}

.tools li {
  margin-left: 1rem;
}

.carousel {
  grid-area: 3 / 2 / 4 / 3;
  position: relative;
  place-self: start;
  height: 100%;
  width: 90%;
}

.flickity-page-dots {
  display: flex;
  align-items: stretch;
  bottom: 0;
  border: 1px solid var(--secondary);
}

.flickity-page-dots .dot {
  width: 100%;
  height: 10px;
  opacity: 1;
  margin: 0;
  border-radius: 0;
  background: transparent;
}

.flickity-page-dots .dot.is-selected {
  background: var(--primary);
}

.slide-image {
  height: auto;
  width: 100%;
  display: block;
  margin: 0 10vw;
}

/* Contact */
.contact-text {
  margin: 0 10%;
}

.external-link {
  color: var(--font-color);
}

.external-link:hover, .external-link:focus {
  color: var(--primary);
}

@media only screen and (min-width: 768px) {
  .content {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  #side-bar {
    width: 30vw;
    left: -30vw;
  }

  .tab-content {
    row-gap: 1.5rem;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto;
  }
  
  .tab-title {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  .project-description {
    grid-area: 2 / 1 / 3 / 2;
  }
  
  .tools {
    grid-area: 1 / 2 / 2 / 3;
  }
  
  .carousel {
    grid-area: 2 / 2 / 3 / 3;
  }
}

